@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #8cb0ed;
}

html{
  scroll-behavior: smooth;
}
body {
  background: #8cb0ed;
  margin: 0px;
  font-family: "Poppins";
  width: 100vw;
}
body::-webkit-scrollbar{
  display:none;
}
 .logo {
  right: 0em;
  position: fixed;
  text-decoration: none;
  font-weight: bolder;
  left: 0vw;
  color: #03112a;
  font-size: 1.2em;
  display: block;
  z-index: +1;

}

.logo span{
  color: white;
}

.navbar nav li a {
  display: flex;
  color: #94979b;
  z-index: 1;
  text-decoration: none;
}
.hero .container{
  display: flex;
  margin-top: 0em;
  width: 100vw;

}

.hero-img {
  display: fixed;
  position: fixed;
  margin-left: -1em;
  width: max(100vw);
  height: 100vh;
  z-index: 0;
  filter: blur(20px);
  -webkit-filter: blur(2px);
}
.hero-txt {
  margin-left:0em;
  position: relative;
  bottom: 0em;
  left:0em;
  color: #03112a;
  z-index: +1;
}

.hero-txt h1 {
  color: white;
  position: relative;
  font-size: 1em;
  line-height: 1.3em;
  top: 3em;
  right: -2.7em;
  width: max-content;
  text-align: right;
}
.hero-txt .hero-cta {
  color: #03112a;
  position: relative;
  padding: 0.6em 0em;
  font-size: 1em;
  text-align: right;
  top: 2em;
  font-weight: bold;
}
.hero .container hr{
  display: flex;
  background-color: #ffff;
  position: relative;
  margin-left:0em;
  margin-top: 1em;
  width: max(17em);
}

.features-section {
  display: flex;
  margin-top:-0.5em;
  border: #03112a;
  border-style: double;
  z-index:2;
  width: max(98vw);
  
}
.features-section .container {
  overflow: scroll;
  display: grid;
  position: relative;
  height: 60vh;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.5em;
  max-width: 99vw;
  justify-content: center;
  padding: 0vw;


}
.features-section .cta-btn {
  cursor: pointer;
  display: none;
  position:relative;
  font-weight:bolder;
  font-size: 1.1rem;
  border-radius: 20em;
  height: 2em;
  width:9rem;
  top: -6vh;
  left: 0em;
  border-color: azure;
  color: white;
  background: #090f1b;
  z-index: -1;
  box-shadow: 0px 0px 5px #090f1b;
}
.features-section .cta-btn span {
  color: var(--primary-color);
}

.features-section .container .thumbnail {
  display: flex;
  padding-left: 0em;
  padding-right: 0em;
  vertical-align: top;
  display: flex;
  max-width:50vw;
  margin-top: 0em;
  z-index: 1;
}


.features-section .container a {
  text-decoration: none;
  background-color: #090f1b;
  border-radius: 20%;
  justify-content: center;

}
.features-section .container h5 {
  font-size: 0.7em;
  text-align: center;
  margin-top: -2vh;
  margin-left: 0em;
}

.features-section .container h6 {
  font-size: 0.5em;
  text-align:center;
  margin-top: -2vh;
  margin-left: 0em;
}

.features-section .container img {
  display: block;
  height: 15vh;
  width: 47vw;
  opacity: 1;
  border-color: var(--primary-color);
  border-style: double;
  border-width: 0.15em;
  margin-bottom: 0em;
}

.features-section .container blockquote {
  margin-left: 0.5em;
  text-decoration:none;
  font-size: small;
  color: white;
  text-align: center;
}

.testimonial-section {
  margin-top: 19vh;
  display: flex;
  justify-content:space-between;
  width: max(4em);
}
.testimonial-section .container {
  display:flex;
  margin-left: 0em;
  z-index: 1;
}

.testimonial-section h1 {
  display: block;
  margin-top: -6em;
  font-size: 1em;
  z-index: +2;
}
.testimonial-section .arrow{
  width:1em;
  height: 1em;
  display: flex;
  position: relative;
  top:-5.4em;
  right: -7em;
  animation: arrow 5s infinite;
}
@keyframes arrow {
  100%{
    top: 1em;
  }
}

.testimonial-section ul img {
  display: flex;
  position: relative;
  left:6em;
  width:  5em;
  height: 5em;
  border: 2px solid #0068d6;
  border-radius: 50%;
  margin-top: -5em;
   }


.testimonial-section ul {
  position: absolute;
  background:#090f1b;
  background-position: center;
  text-align: center;
  padding: 2em 0em 1em;
  margin:1rem 1rem 1rem 1rem;
  width: 18em;
  height: 8em;
  border-radius: 1em;
  color: white;
}
.testimonial-section blockquote {
  color: white;
  font-size: smaller;
}
.testimonial-section button{
  position: relative;
  display: grid;
  margin-top:7.3em;;
  opacity: .5;
  width: 2em;
  margin-left: -10em;
  background-color: #090f1b;
  color: #8cb0ed;
}
.testimonial-section .btn-slide1 {
  display: flex;
  position: relative;
  left: -2.5em;
}
.testimonial-section .btn-slide2 {
  display: flex;
  position: relative;
  right:-25.9em;
}
.footer-section h8 {
  display: flex;
  position: relative;
  bottom: -8em;
  left:3.3em;
  font-size: 0.9em;
}
.footer-section textarea {
  display: flex;
  position: relative;
  margin-top: 10em;
  left: 3.5em;
  color: black;
  z-index: +2;
}
.footer-section button {
  position: relative;
  display: flex;
  top: -1.59em;
  left:16em;
  border-color: red;
  background:red;
}

@media (max-width: 425px) {
  nav.menu-btn {
    position: fixed;
    display: block;
  }
  .mobile-menu-exit {
    float: right;
    position: relative;
    cursor: pointer;
    left: -1.2em;
  }

  nav {
    position: fixed;
    z-index: 1;
    right: 0em;
    top: 0em;
    background: #03112a;

  }
  nav ul.primary-nav {
    margin-top: 5em;

  }
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1em;
    text-align: right;
  }
  nav li a:hover {
    font-weight: bolder;
  }
}

@media only screen and (min-width: 768px) {

  .navbar  {
    padding-bottom: 2.1em;
  }

  nav li a:hover {
    border-radius: 0em;
    margin-top: 0em;
    position: relative;
    top:5px;
    color: var(--primary-color);
    font-weight: bolder;
  }
  .navbar .container .logo {
    margin-top: 0.3em;
    font-size: 2vw;
  }
   .navbar .container nav  {
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    padding-left: 0em;
    padding-top: 1em;
  }
  .secondary-nav {
    display: flex;
  }

  .navbar nav li  {
    display: inline-flex;
    font-size: 1.1vw;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 0.9em;
  }
  .navbar hr {
    display: none;
  }

  nav li a:hover {
    @keyframes mover {
      0%{right:150px}
    }
   }
 .mobile-menu-exit, .mobile-menu{
    display: none;
  }

  .hero .container {
    width:100vw;
  }

  .hero .container .hero-img{
    width: 40vw;
    height: 110vh;
  }
  .hero .container .hero-txt{
    font-size: 5vw;
    position: relative;
    top: -0.5em;
    left: 1.3em;
    text-align: right;
  }
  .hero .container .hero-cta{
    display: none;
    position: relative;
    font-size: 3vw;
    top: -6vw;
    left:-48vw;
  }
   .features-section {
    display: grid;
    width: 100vw;
    margin-top:-10em;
    z-index: -1;
    padding-bottom: 10vw;
  } 

  .features-section .container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10em;
    grid-column-gap: 10em;
    justify-content: center;
    z-index: 1;
    width:99vw;
    padding: 0.5vw;
    background:none;
  }

   .features-section .thumbnail {
    position: relative;
    left: 4em;

   }

   .features-section .container blockquote {
    font-size: 2rem;
   }
   .features-section .container h5::after {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
   .features-section .cta-btn{
    font-size: 3.5vw;
    width: 22vw;
    height: 1.2em;
    display: flex;
    position: relative;
    justify-content: center;
    font-stretch:extra-expanded;
    top:-3em;
    left:14em;
    z-index: 2;
  }
  .features-section .cta-btn span {
    animation: x 1.6s infinite;
  }

  @keyframes x {
    0%{
      position: relative;
      top:0em;

    }
    100%{
      position: relative;
      top:-0.3em;
      font-size:2em;
    }
    
  }

  .features-section .container img {
    width: 40vw;
  }
  .features-section .vrt{
    height:3px;
    background-color: white;
    z-index: 1;
  }
  .testimonial-section {
    margin-top: 16vh;
    display: flex;
    justify-content:space-between;
    width: 90vw;

  }
  .testimonial-section .container {
    margin-left: 1em;
    width: 60vw;
    z-index: -1;
  }
  
  .testimonial-section ul img {
    position: relative;
    left:6em;
    width:  20vw;
    height: 20em;
    border: 2px solid #0068d6;
    border-radius: 50%;
    margin-top: -4.5em;
     }
  
  
  .testimonial-section ul {
    position: relative;
    background:#090f1b;
    background-position: center;
    text-align: center;
    padding: 2em 0em 2em;
    margin:1rem 1rem 1rem 1rem;
    width: 50vw;
    height: 50vh;
    border-radius: 1em;
    color: white;
  }
  .testimonial-section blockquote, cite {
    color: white;
    font-size: 5em;
  }
  .testimonial-section button{
    position: relative;
    margin-top:7.3em;;
    opacity: .5;
    width: 2em;
    background-color: #090f1b;
    color: #8cb0ed;
  }
  .testimonial-section .btn-slide1 {
    display: flex;
    position: relative;
    left: 0.9em;
  }
  .testimonial-section .btn-slide2 {
    display: flex;
    position: relative;
    right:-19.2em;
  }
}