@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #8cb0ed;
}

html{
  scroll-behavior: smooth;
}
body {
  background: #8cb0ed;
  width: 20rem;
  margin: 0px;
  font-family: "Poppins";
}
.navbar {
  position: fixed;
  background: #090f1b;
  padding:1em  0em 0em 0em;
  display:flex;
  box-shadow: 0px 0px 12px #415577;
  width: max(49em);
}
.navbar .logo {
  position: relative;
  background-color: #090f1b;
  margin-left:0em;
  margin-top: -0.5em;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  font-size: 1em;
  display: flex;

  padding: 0px;
  z-index: 1;
}
nav {
  display: flex;
  position: fixed;
  background-color:white;
}
.navbar .container  a{
  display: block;
  text-align: left;
  font-size: 1em;
}
.navbar .container {
  display: flex;
  margin: 0em;
}
.navbar nav {
  display: none;
}
.navbar nav li a {
  display: flex;
  color: white;
  z-index: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hero .container{
  display: flex;

}

.hero-img {
  position:relative;
  margin-left: 0em;
  width: max(40vw);
  z-index: -1;

}
.hero-txt {
  display: block;
  position: relative;
  left: -14rem;
  bottom: -0.6em;
  z-index: -1;
}

.hero-txt h1 {
  color: white;
  position: relative;
  font-size: 1.3rem;
  line-height: 1.3em;
  top: 3.9rem;
  left: 6em;
  text-align: center;
}
.hero-txt .primary-cta {
  color: gray;
  position: relative;
  text-decoration: none;
  padding: 0.6em 0em;
  font-size: 1.0rem;
  border-radius: 5em;
  top: 4em;
  left:12em;
  font-weight: bold;
  display: inline-block;
}
.hero .container hr{
  background-color: #ffff;
  position: relative;
  margin-left:0em;
  width: max(17em);
  margin-top: 7.5em;
}

.features-section {
  margin-top:-3.88em;
  
}
.features-section .container {
  overflow: hidden;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  justify-content: center;
  z-index: -1;
  width: max(100.5vw);
  padding: 0.7vw;
  background:none;
}
.features-section .cta-btn {
  cursor: pointer;
  display: block;
  position:relative;
  font-weight:bolder;
  font-size: 1rem;
  border-radius: 20em;
  height: 2em;
  width:9rem;
  top: 0vh;
  left: 10em;
  border-color: azure;
  color: white;
  background-color: #090f1b;
  z-index: -1;
  box-shadow: 0px 0px 5px #090f1b;
}

.features-section .container .g{
  text-decoration: none;
  cursor: pointer;
}
.features-section .cta-btn span {
  color: var(--primary-color);
}
.features-section .container .thumbnail {
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: top;
  display: inline-block;
  margin-top: 1.5em;
}

.features-section .container a {
  background: #20272E;
}
.features-section .container h5 {
  font-size: 0.7em;
}

.features-section .container h6 {
  color: #818489;
  font-size: 0.5em;
  text-align:left;
  margin-top: -3vh;
}

.features-section .container img {
  display: block;
  margin-top: 0em;
  margin-left: 0em;
  border-radius: 20%;
  height: 20vw;
  width: 40vw;
  opacity: 0.7;
}

.features-section .container blockquote {
  margin-left: 0.5em;
  text-decoration:none;
  font-size: small;
  color: aliceblue;
}

.testimonial-section {
  margin-top: 6vh;
  align-content:center;
  width: max(19vw);
}
.testimonial-section .container {
  display:flex;
}

.testimonial-section ul img {
  display: flex;
  position: relative;
  left:5.5em;
  width:  5em;
  height: 5em;
  border: 5px solid #0068d6;
  border-radius: 50%;
  margin-top: -4.5em;
   }


.testimonial-section ul {
  position: absolute;
  background:#090f1b;
  text-align: center;
  padding: 2em 0em 2em;
  margin:1rem 1rem 1rem 1rem;
  width: 18em;
  height: 8em;
  border-radius: 1em;
  color: white;
}
.testimonial-section blockquote {
  color: white;
  font-size: smaller;
}
.testimonial-section button{
  position: relative;
  margin-top:7.3em;;
  opacity: .5;
  width: 2em;
  background-color: #090f1b;
  color: #8cb0ed;
}
.testimonial-section .btn-slide1 {
  display: flex;
  position: relative;
  left: 0.9em;
}
.testimonial-section .btn-slide2 {
  display: flex;
  position: relative;
  right:-19.2em;
}


.footer-section div {
  display: flex;
  font-size: 0.5em;
  padding-top: 2em;
  margin-top: 10em;
  left: -2.5em;
  color: aliceblue;
  z-index: -1;
}

@media (max-width: 425px) {
  nav.menu-btn {
    display: block;
  
  }

  nav {
    position: fixed;
    z-index: 1;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
  }
  nav ul.primary-nav {
    margin-top: 5em;

  }
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;
  }
  nav li a:hover {
    font-weight: bold;
  }

  .mobile-menu-exit {
    float: right;
    cursor: pointer;
  }

}

@media only screen and (min-width: 768px) {
nav li a:hover {
    border-radius: 5em;
    margin-top: 1em;
    position: relative;
    top:10px;
  }


 nav li a:hover {
  @keyframes mover {
    0%{right:150px}
  }
}
}